@if (employees && employees.length > 0) {
<h1>{{ title }}</h1>
<hr />
<h6>{{ subTitle }}</h6>

<div class="container row mb-3">
  <input
    type="search"
    id="inputSearch"
    class="form-control"
    placeholder="Search Employees By First or Last Name!"
    [(ngModel)]="searchChars"
    (input)="searchEmployees()"
  />
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      @for (col of columns; track $index) {
      <th>{{ col }}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (emp of filteredEmployees | paginate : { itemsPerPage: pageSize,
    currentPage: pageNumber }; track $index) {
    <tr>
      <td>
        <span>{{ emp.employeeCode | uppercase }}</span>
      </td>
      <td>
        <span>{{ emp.firstName }} {{ emp.lastName }}</span>
      </td>
      <td>
        <span>{{ emp.email | lowercase }}</span>
      </td>
      <td>
        <span>{{ emp.department }}</span>
      </td>
      <td>
        <span>{{ emp.designation }}</span>
      </td>
      <td>
        <a class="btn btn-dark" [routerLink]="['/employees', emp.employeeId]"
          >Show Details</a
        >
      </td>
      @if (role === 'Hr') {
      <td>
        <button class="btn btn-danger" (click)="deleteEmployee(emp.employeeId)">
          Delete
        </button>
      </td>
      }
    </tr>
    }
  </tbody>
</table>

<div class="container text-center">
  <pagination-controls
    class="my-pagination"
    (pageChange)="pageNumber = $event"
  ></pagination-controls>
</div>

} @else {
<h4>Sorry! We did not find any employee! Please try after some time!</h4>
}